.wrapper {
    color: #fff;
    font-size: 22px;
    text-align: center;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}